body,html {
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
	width: 100vw;
	height: max(100vh, 570px);
	display: grid;
	grid-template: 
					"sidebar header" 1fr
					"sidebar content" 5fr
					/ 200px 4fr;
}

.header {
	grid-area: header;
	display: grid;
	box-shadow: 10px 9px 18px -11px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 9px 18px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 18px -11px rgba(0,0,0,0.75);
}

.utilities {
	margin: 10px 20px;
	display: flex;
	gap: 20px;
	align-items: center;
}

.search-icon svg {
	height: 30px;
	color: rgb(80, 80, 80);
}

.search-bar {
	background-color: gainsboro;
	border: 1px solid gainsboro;
	border-radius: 15px;
	height: 30px;
	flex: 1;
}

.account {
	display: grid;
	grid-template-columns: 60px 1fr;
	justify-content: center;
	align-items: center;
}

.avatar.small{
	height: 40px;
	width: 40px; 	
	object-fit: cover;
	border-radius: 50%;
	margin: 0 15px 0 0;
	justify-self: right;;
}

.username.small {
	margin-right: 30px;
	font-size: 18px;
}

.notification {
	height: 25px;
	width: auto;
	color:rgb(80, 80, 80);
	align-self: center;
	justify-self: right;
}

.action-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}

.user-welcome {
	display: grid;
	grid-template-columns: 150px 2fr;
	justify-content: center;
}

.avatar {
	height: 80px;
	width: 80px; 	
	object-fit: cover;
	border-radius: 50%;
	margin-left: 50px;
}

.greeting {
	margin: 15px 0
}

.username {
	margin: 15px 0 10px 0;
	font-size: 24px;
}

.actions {
	display: grid;
	justify-self: right;
	margin-right: 50px;
	grid-auto-flow: column;
	justify-content: center;
	gap: 15px;
	align-items: center;
}

.actions button {
	height: 40px;
	width: 100px;
	border-radius: 20px;
	border: none;
	background-color: rgb(27, 41, 55);
	color: white;
	font-weight: bold;
}

.sidebar {
	background-color: rgb(27, 41, 55);
	padding: 20px;
	color: #F6F7F8;
	grid-area: sidebar;
	display: grid;
	gap: 20px;
	grid-template-rows: 80px;
}

.logo {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 40px;
	grid-auto-flow: column;
	gap: 20px;
	margin-bottom: 40px;
}

.logo svg {
	height: 40px;
}

.logo span {
	font-size: 22px;
	font-weight: bold;
	vertical-align: bottom;
}

.sidebar ul {
	display: grid;
	padding: 0;
	list-style-type: none;
	gap: 20px;
	align-content: start;
}

li {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 25px;
	grid-auto-flow: column;
	gap: 10px;
}

li > svg {
	color: #F6F7F8;
	height: 26px;
}

.sidebar span {
	display: flex;
	align-items: center;
}
.content {
	background-color: gainsboro;
	grid-area: content;
}