:root {
	--prim-color: rgb(27, 41, 55);
	--acc-color: rgb(210, 65, 46);
	--acc-lt-color: rgb(228, 108, 93);
	--bg-color: gainsboro;
	--gray: rgb(80, 80, 80);
	--white: #F6F7F8;
}

body,html {
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
	width: 100vw;
	height: max(100vh, 570px);
	display: grid;
	grid-template: 
					"sidebar header" 1fr
					"sidebar content" 5fr
					/ 225px 1fr;
}

.header {
	position: relative;
	grid-area: header;
	display: grid;
	box-shadow: 10px 9px 18px -11px rgba(67, 67, 67, 0.75);
	-webkit-box-shadow: 10px 9px 18px -11px rgba(67, 67, 67, 0.75);
	-moz-box-shadow: 10px 9px 18px -11px rgba(67, 67, 67, 0.75);
}

.utilities {
	margin: 10px 20px;
	display: flex;
	gap: 20px;
	align-items: center;
}

.search-icon svg {
	height: 30px;
	color: var(--gray);
	cursor: pointer;
}

.search-bar {
	background-color: var(--bg-color);
	border: 1px solid var(--bg-color);
	margin-right: 10vw;
	border-radius: 15px;
	height: 30px;
	flex: 1;
	font-size:large;
	padding-left: 15px;
}

.account {
	display: grid;
	grid-template-columns: 60px 1fr;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.avatar {
	object-fit: cover;
	border-radius: 50%;
	margin: 0 15px 0 0;
	justify-self: right;
}

.avatar.small {
	height: 40px;
	width: 40px; 	
}

.avatar.medium {
	height: 60px;
	width: 60px; 	
}

.avatar.large {
	height: 80px;
	width: 80px; 
}

.username.small {
	margin-right: 30px;
	font-size: 18px;
}

.notification {
	height: 25px;
	width: auto;
	color:var(--gray);
	align-self: center;
	justify-self: right;
	cursor: pointer;
}

.action-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}

.user-welcome {
	display: grid;
	grid-template-columns: 150px 2fr;
	justify-content: center;
	cursor: pointer;
}

.greeting {
	margin: 15px 0
}

.username {
	margin: 15px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
}

.actions {
	display: grid;
	justify-self: right;
	margin-right: 50px;
	grid-auto-flow: column;
	justify-content: center;
	gap: 15px;
	align-items: center;
}

.actions button {
	height: 40px;
	width: 100px;
	border-radius: 20px;
	border: none;
	background-color: var(--prim-color);
	color: var(--white);
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	filter: brightness(130%);
}

button:active {
	filter: brightness(150%);
}

.sidebar {
	background-color: var(--prim-color);
	padding: 20px;
	color: var(--white);
	grid-area: sidebar;
	display: grid;
	gap: 20px;
	grid-template-rows: 80px;
}

.logo {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 40px;
	grid-auto-flow: column;
	gap: 20px;
	margin-bottom: 40px;
}

.logo svg {
	height: 40px;
}

.logo span {
	font-size: 22px;
	font-weight: bold;
	vertical-align: bottom;
}

.sidebar ul {
	display: grid;
	padding: 0;
	list-style-type: none;
	gap: 20px;
	align-content: start;
}

li {
	cursor: pointer;
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 25px;
	grid-auto-flow: column;
	gap: 10px;
}

li:hover {
	font-weight: bold;
}

li.settings {
	margin-top: 50px;
}

li > svg {
	color: var(--white);
	height: 26px;
}

.sidebar span {
	display: flex;
	align-items: center;
}
.content {
	background-color: var(--bg-color);
	grid-area: content;
	padding: 30px;
	gap: 40px;
	display: grid;
	grid-template:
				"projects announcements" auto
				"projects trending" 1fr
				/ 1fr 300px;
	color:var(--prim-color);
}

h2,
h3 {
	padding: 0;
}

h2 {
	margin: 0 0 20px 0;
}

h3 {
	margin: 0;
}

.projects-container {
	box-sizing: border-box;
	grid-area: projects;
}
 
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
	grid-auto-rows: 230px;
	gap: 40px;
}

.card {
	background-color: var(--white);
	border-radius: 8px;
	padding: 20px;
	box-shadow: 10px 9px 18px -11px rgba(67, 67, 67, 0.75);
	-webkit-box-shadow: 10px 9px 18px -11px rgba(67, 67, 67, 0.75);
	-moz-box-shadow: 10px 9px 18px -11px rgba(67, 67, 67, 0.75);
	display: grid;
}

.announcement > p,
.card > p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card > p {
	color:var(--gray);
	font-size: 18px;
	-webkit-line-clamp: 5;
}

.projects > .card {
	grid-template-rows: 25px 142px 30px;
}

.announcements-container > .card {
	padding: 20px 30px;
	font-size: 12px;
}

.announcement {
	border-top: 1px solid var(--gray);
	padding: 10px 0;
}

.announcement p {
	-webkit-line-clamp: 3;
	height: 40px;
}

.card > .announcement:first-child {
	border: none;
}

.card-icons {
	justify-items: right;
	display: grid;
	grid-auto-flow: column;
	gap: 15px;
	justify-content: right;
	margin-right: 15px;
}

.card-icons > * {
	height: 25px;
	cursor: pointer;
	color: var(--acc-color);
}

.card-icons *:hover {
	color:var(--acc-lt-color);
}

.announcements-container {
	grid-area: announcements;
}

.trending-container {
	grid-area: trending;
}

.trend {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	cursor: pointer;
}

.trend div {
	margin: 10px 0;
}

.trend div p{
	margin: 8px 0;
}

.trend div p:first-child {
	font-size: 12px;
	font-weight: bold;
}